*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('https://i.pinimg.com/originals/2e/35/be/2e35be18aa076cdc17b2fa2d43ff0e2f.jpg');
    background-size: 100%;
}

#cabeca{
    text-align: center;
    width: 72%;
}
#titulo{
    font-family: Verdana;
    -webkit-text-stroke: 1px #ffffff;
    font-size: 40px;
}
#des{
    margin-top: 2%;
    font-family: 'Helvetica', sans-serif;
    font-size: 15px;
    color: white;
}

.container{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #090b1b;
    opacity: 87%;
    border: 2px solid #202c6d;
    border-radius: 15px;
    box-shadow: 0 0 10px #202c6d;
    margin-top: 20px;
}
.container_form{
    display: flex;
    justify-content: space-around;
    margin-bottom: 4%;
}
.container_btn{
    display: flex;
    justify-content: center;   
    margin-top: 2%;
}

.notmargin{
    margin: 0%;
}
form{
    margin-top: 5.5%;
    font-family: Verdana;
    font-size: 15px;
    color: white;
    width: 100%;
    text-align: center;
}
.data{
    width: 44px;
    height: 100%;
}
.txt_box{
    width: 84%;
    height: 60%;
}

button{
    padding: 10px;
    background-color: #22665e;
    color: #fff;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #30b8a6;
    box-shadow: 0 0 30px #30b8a6;
}

#limpar {
    margin-left: 3.5%;
    background-color: #84202f;
}
#limpar:hover {
    background-color: #dc3545;
    box-shadow: 0 0 30px #dc3545;
}